<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.yojeumgeosdeul.dong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@drawable/icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="n">
        <activity android:name=".MyPageFundingMake">
        </activity>
        <activity android:name=".MainDetailActivity">
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".ChattyActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".MainActivity">

            <meta-data
                    android:name="com.google.android.geo.API_KEY"
                    android:value="AIzaSyB5cqmuHFA6SrGoC52rtYGrgUrqH_hsHg8" />

            <meta-data android:name="com.kakao.sdk.AppKey" android:value="c7212401fbc94e4cf77b5a4def76cb5e"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>